html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background: #eaeaea;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

/* 添加word-break: break-word */
a {
    background: transparent;
    color: #08c;
    text-decoration: none;
    word-break: break-word;
}

a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

/* 删除white-space:pre-wrap; */
/* overflow:auto; */
pre {
    white-space: pre;
    word-break: break-word;
}

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    vertical-align: middle;
    font: inherit;
}

button,
input,
select {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    box-sizing: border-box;
    -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid silver;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

optgroup {
    font-weight: 700;
}

button,
input,
select,
textarea {
    outline: 0;
}

input,
textarea {
    -webkit-user-modify: read-write-plaintext-only;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

blockquote,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

dd,
dl,
li,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none outside none;
}

h1,
h2,
h3 {
    font-weight: 400;
    line-height: 2;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

i {
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    color: #1a1a1a;
    font-size: 1rem;
    /* font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif; */
    font-family: helvetica, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei;
    line-height: 1.75;
}

/* 代码区块高亮通用 */
pre .at_rule,
pre .at_rule .keyword,
pre .css~* .tag,
pre .preprocessor,
pre .preprocessor .keyword,
pre .title {
    color: #f92672;
}

pre .attribute,
pre .built_in,
pre .class,
pre .css~* .class,
pre .function .title {
    color: #a6e22e;
}

pre .class .params,
pre .function .keyword,
pre .keyword,
pre .type {
    color: #0000ff;
}

pre .comment {
    color: #008000;
}

pre .css~* .id,
pre .id {
    color: #fd971f;
}

pre .function {
    color: #795e26;
}

pre .number {
    color: #7163d7;
}

pre .property {
    color: #ff0000;
}

pre .punctuation {
    color: #0431fa;
}

pre .selector,
pre .selector-class {
    color: #800000;
}

pre .string,
pre .value {
    color: #a31515;
}

/* html */
pre .tag,
.html pre .name {
    color: #800000;
}

pre .attr-name,
.html pre .attr {
    color: #ff0000;
}

pre .attr-value,
.html pre .string {
    color: #0000ff;
}

/* 代码块相关样式结束 */