/* 全局搜索 */
#js-searchModal {
    position: fixed;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 1001;
    display: none;
    margin: auto;
    width: 80%;
    border-radius: 10px;
    opacity: 0;
    transition: 1s;
    word-break: break-word;
}

#js-searchModal #js-searchResult {
    overflow: auto;
    max-height: 60vh;
    min-height: 50vh;
}

#js-searchModal #js-searchTextCancel {
    position: absolute;
    top: 60px;
    right: 25px;
    display: none;
    cursor: pointer;
}

#js-searchModal .search-header,
#js-searchModal .search-header i {
    color: #fff;
    font-size: 18px;
}

#js-searchModal .search-header input::-webkit-input-placeholder,
#js-searchModal .search-header input::placeholder {
    color: #ededed;
}

#js-searchModal .search-header .search-ipt {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    color: #fff;
    font-family: Roboto, serif;
}

#js-searchModal .search-result-list li {
    padding-top: 5px;
    border-bottom: 1px dotted #dcdcdc;
}

#js-searchModal .search-result-list a {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
}

#js-searchModal .search-result-list .search-result {
    color: #fffdd8;
    font-size: 16px;
    line-height: 20px;
}

#js-searchModal .search-result-list .search-keyword {
    color: #e96900;
    font-style: normal;
}

/* 全局搜索背景图层 */
#js-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
    transition: 1s;
}

/* 浮动 */
.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.left-col.show {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .75);
}

/* 添加.mid-col.show .archives-wrap */
.mid-col,
.mid-col.show .article,
.mid-col.show .archives-wrap,
.tools-col,
.tools-col .tools-section .search-tag.tagcloud .article-tag-list,
.tools-col .tools-section .search-ul .search-tag span:hover,
.tools-col .tools-section .search-ul .search-time span:hover,
.tools-col .tools-section .search-ul .search-title:hover,
.tools-col .tools-section .search-wrap .icon {
    transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
}

@-webkit-keyframes leftIn {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    60% {
        -webkit-transform: translate3d(358px, 0, 0);
        transform: translate3d(358px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(323px, 0, 0);
        transform: translate3d(323px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(338px, 0, 0);
        transform: translate3d(338px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(333px, 0, 0);
        transform: translate3d(333px, 0, 0);
    }
}

@keyframes leftIn {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    60% {
        -webkit-transform: translate3d(358px, 0, 0);
        transform: translate3d(358px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(323px, 0, 0);
        transform: translate3d(323px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(338px, 0, 0);
        transform: translate3d(338px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(333px, 0, 0);
        transform: translate3d(333px, 0, 0);
    }
}

@-webkit-keyframes leftOut {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(333px, 0, 0);
        transform: translate3d(333px, 0, 0);
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes leftOut {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(333px, 0, 0);
        transform: translate3d(333px, 0, 0);
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@-webkit-keyframes smallLeftIn {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    60% {
        -webkit-transform: translate3d(325px, 0, 0);
        transform: translate3d(325px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(290px, 0, 0);
        transform: translate3d(290px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(305px, 0, 0);
        transform: translate3d(305px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }
}

@keyframes smallLeftIn {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    60% {
        -webkit-transform: translate3d(325px, 0, 0);
        transform: translate3d(325px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(290px, 0, 0);
        transform: translate3d(290px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(305px, 0, 0);
        transform: translate3d(305px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }
}

@-webkit-keyframes smallleftOut {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(333px, 0, 0);
        transform: translate3d(333px, 0, 0);
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes smallleftOut {

    0%,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        -webkit-transform: translate3d(333px, 0, 0);
        transform: translate3d(333px, 0, 0);
    }

    60% {
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.mid-col.show {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: leftIn;
    animation-name: leftIn;
}

.mid-col.hide {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-name: leftOut;
    animation-name: leftOut;
}

.tools-col.show {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: smallLeftIn;
    animation-name: smallLeftIn;
}

.tools-col.hide {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: smallleftOut;
    animation-name: smallleftOut;
}

.placeholder {
    color: #999;
}

#mobile-nav {
    display: none;
}

#container {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
}

#container .anm-canvas {
    display: none;
}

#container.show .anm-canvas {
    position: fixed;
    display: block;
}

.body-wrap {
    margin-bottom: 80px;
}

.mid-col {
    position: absolute;
    right: 0;
    left: 300px;
    width: auto;
    min-height: 100%;
    background: #eaeaea;
}

/* 添加overflow: hidden */
.mid-col.show {
    overflow: hidden;
    background: none;
    opacity: .9;
}

/* 添加.mid-col.show .archives-wrap */
.mid-col.show .article,
.mid-col.show .archives-wrap {
    background: hsla(0, 0%, 100%, .3);
}

.left-col {
    position: fixed;
    z-index: 999;
    width: 300px;
    height: 100%;
    background: #fff;
    opacity: 1;
    transition: all .2s ease-in;
}

.left-col .overlay {
    position: absolute;
    width: 100%;
    height: 180px;
}

/* 修复aplayer文字居中，删除text-align: center; */
.left-col .intrude-less {
    margin: 112px auto 0;
    width: 76%;
}

.left-col .header-inner {
    position: relative;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid color-border;
}

.left-col .header-inner a {
    color: #696969;
}

.left-col .header-inner a:hover {
    color: #b0a0aa;
}

.left-col .header-inner .header-subtitle {
    display: -webkit-box;
    overflow: hidden;
    color: #999;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 25px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.left-col .header-inner .header-menu {
    float: none;
    display: -webkit-box;
    margin-left: -12px;
    min-height: 150px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 31px;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.left-col .header-inner .header-menu li {
    cursor: default;
}

.left-col .header-inner .header-menu li a {
    min-width: 300px;
    font-size: 14px;
}

/* 修复aplayer文字居中，添加text-align: center; */
.left-col .header-inner .header-smart-menu {
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}

.left-col .header-inner .header-smart-menu a:after {
    content: "/";
}

.left-col .header-inner .header-smart-menu a:last-child:after {
    content: "";
}

.left-col .header-inner .profilepic {
    position: relative;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    border: 5px solid #fff;
    border-radius: 300px;
    background: #88acdb;
    text-align: center;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.left-col .header-inner .profilepic img {
    border-radius: 300px;
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.left-col .header-inner .profilepic img.show {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.left-col .header-inner .header-author {
    margin: .67em 0;
    text-align: center;
    font-size: 30px;
    font-family: Roboto, serif;
    transition: .3s;
}

/* 代码块相关样式 */
/* 行内代码块 */
.article-entry code {
    padding: 0 .3rem;
    border: none;
    background: #eee;
    font-family: Source Code Pro, Consolas, Monaco, Menlo, monospace;
}

/* 代码块复制 */
.article-entry .js-btn-copy {
    position: absolute;
    right: 10%;
    z-index: 1;
    display: none;
    padding: 2px 8px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    background-color: white;
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-entry figure:hover .js-btn-copy,
.article-entry pre:hover .js-btn-copy {
    display: block;
}

/* 代码块扩展栏样式 */
.article-entry .highlight-tools {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    min-height: 25px;
    border: 1px solid #e6ebf1;
    border-radius: 4px 4px 0 0;
    background-color: #e6ebf1;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* 代码区块隐藏 */
.article-entry .highlight-tools.closed~* {
    display: none;
}

/* 代码块扩展栏样式（显示语言） */
.article-entry .highlight-tools .code-lang {
    position: relative;
    left: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.article-entry .highlight-tools .expand+.code-lang {
    left: 25px;
}

/* 代码块扩展栏样式（隐藏代码块按钮） */
.article-entry .highlight-tools .expand.icon-back {
    position: absolute;
    display: block;
    padding: 8px 8px;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-transition: -ms-transform 0.3s;
}

.article-entry .highlight-tools .expand.closed.icon-back {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    -ms-transition: all 0.3s;
    -ms-transform: rotate(180deg) !important;
}

/* 代码区块样式 */
.article-entry .highlight,
.article-entry pre {
    font-size: .9rem;
}

.article-entry .highlight {
    margin: 10px 0;
}

.article-entry pre {
    overflow-x: auto;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #f6f8fa;
    border-radius: 4px;
    background: #f6f8fa;
}

.article-entry .highlight pre {
    margin: 0;
}

.article-entry .highlight table pre {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

/* 代码块横向滚动条 */
.article-entry pre::-webkit-scrollbar-button {
    display: none;
}

.article-entry pre code {
    padding: 0;
    background: none;
}

.article-entry .highlight table {
    display: block;
    overflow-x: auto;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #f6f8fa;
    border-radius: 4px;
    background: #f6f8fa;
}

/* 代码块横向滚动条 */
.article-entry .highlight table::-webkit-scrollbar-button {
    display: none;
}

.article-entry .highlight td {
    padding: 0;
    border: none;
}

/* highlight行号追加user-select:none; */
.article-entry .highlight .gutter pre {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #90a4ae;
    border-radius: 0;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-entry .highlight .gutter pre .line {
    text-shadow: none;
}

/* prismjs行号显示 */
.article-entry pre[class*="language-"].line-numbers {
    padding-left: 3.8rem;
    counter-reset: linenumber;
}

.article-entry pre[class*="language-"].line-numbers>code {
    position: relative;
    padding: 6px 0 0 0;
    white-space: inherit;
}

/* works for line-numbers below 1000 lines */
.article-entry .line-numbers .line-numbers-rows {
    position: absolute;
    top: 0;
    left: -3.8rem;
    width: 3rem;
    border-right: 1px solid #999;
    letter-spacing: -1px;
    font-size: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-entry .line-numbers-rows>span {
    display: block;
    color: #90a4ae;
    counter-increment: linenumber;
}

.article-entry .line-numbers-rows>span:before {
    display: block;
    padding-right: 0.8rem;
    content: counter(linenumber);
    text-align: right;
}

.article-entry .gist .gist-file .gist-data .line-numbers {
    color: #666;
}

/* 删除color: highlight-comment */
.article-entry .highlight figcaption {
    margin-bottom: 1em;
    line-height: 1em;
}

.article-entry .highlight figcaption:after,
.article-entry .highlight figcaption:before {
    display: table;
    content: "";
}

.article-entry .highlight figcaption:after {
    clear: both;
}

.article-entry .highlight figcaption a {
    float: right;
}

.article-entry .gist {
    margin: 0 -20px;
    padding: 15px 20px 15px 0;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0;
    background: #272822;
}

.article-entry .gist .gist-file {
    margin: 0;
    border: none;
    font-family: Source Code Pro, Consolas, Monaco, Menlo, monospace;
}

.article-entry .gist .gist-file .gist-data {
    border: none;
    background: none;
}

.article-entry .gist .gist-file .gist-data .line-numbers {
    padding: 0 20px 0 0;
    border: none;
    background: none;
}

.article-entry .gist .gist-file .gist-data .line-data {
    padding: 0 !important;
}

.article-entry .gist .gist-file .highlight {
    margin: 0;
    padding: 0;
    border: none;
}

/* 删除color: highlight-comment */
.article-entry .gist .gist-file .gist-meta {
    margin-top: 1em;
    margin-left: 20px;
    padding: 0;
    background: #272822;
    text-shadow: 0 0;
    font: .85em Helvetica Neue, Helvetica, Arial, sans-serif;
}

.article-entry .gist .gist-file .gist-meta a {
    color: #258fb8;
    font-weight: 400;
}

.article-entry .gist .gist-file .gist-meta a:hover {
    text-decoration: underline;
}

/* music player title */
.header-inner .music-player .title {
    color: #424242;
    text-align: center;
    font-size: 14px;
}

.header-inner .tagcloud a {
    color: #fff;
}

.tagcloud a {
    position: relative;
    display: inline-block;
    margin: 5px 9px 5px 8px;
    padding: 0 5px 0 10px;
    height: 18px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    font-family: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace;
    line-height: 18px;
}

.tagcloud a:hover {
    opacity: .8;
}

.tagcloud a:before {
    position: absolute;
    top: 0;
    left: -18px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    content: " ";
}

.tagcloud a:after {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .3);
    content: " ";
}

.tagcloud a.color1 {
    background: #ff945c;
}

.tagcloud a.color1:before {
    border-right-color: #ff945c;
}

.tagcloud a.color2 {
    background: #cc8167;
}

.tagcloud a.color2:before {
    border-right-color: #cc8167;
}

.tagcloud a.color3 {
    background: #ba8f6c;
}

.tagcloud a.color3:before {
    border-right-color: #ba8f6c;
}

.tagcloud a.color4 {
    background: #94635c;
}

.tagcloud a.color4:before {
    border-right-color: #94635c;
}

.tagcloud a.color5 {
    background: #7b5d5f;
}

.tagcloud a.color5:before {
    border-right-color: #7b5d5f;
}

.article-tag-list .article-tag-list-item {
    float: left;
}

.article-pop-out .icon-tuding {
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    color: #999;
}

.article-category,
.article-category .article-tag-list,
.article-tag,
.article-tag .article-tag-list {
    float: left;
}

.article-category .icon,
.article-tag .icon {
    float: left;
    margin-top: 6px;
    margin-right: 10px;
    color: #999;
}

.article-pop-out {
    float: left;
}

.archive-article-date {
    float: right;
    margin-right: 7.6923%;
    color: #999;
}

.archive-article-date .icon {
    margin: 5px 5px 5px 0;
}

.glass {
    z-index: 998;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 70, 93, .9);
    transition: opacity .15s;
}

.glass,
.tagcloud-ctn {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}

.tagcloud-ctn {
    z-index: 90120;
    background-size: 100% 100%;
}

.tagcloud-ctn .tagcloud-global {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -115px;
    margin-left: -315px;
    width: 630px;
}

.tagcloud-ctn .tagcloud-global a {
    float: left;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f2992e;
    color: #fff;
    text-align: center;
    line-height: 80px;
}

.tagcloud-ctn .tagcloud-global .tab-post-types .tab-post-type:first-child .post-type-icon {
    background: #f2992e;
}

.tagcloud-ctn .tagcloud-global .tab-post-types .tab-post-type:nth-child(2) .post-type-icon {
    background: #56bc8a;
}

.tagcloud-ctn .tagcloud-global .tab-post-types .tab-post-type:nth-child(3) .post-type-icon {
    background: #4aa8d8;
}

.tagcloud-ctn .tagcloud-global .tab-post-types .tab-post-type:nth-child(4) .post-type-icon {
    background: #a77dc2;
}

.tagcloud-ctn .tagcloud-global .tab-post-types .tab-post-type:nth-child(5) .post-type-icon {
    background: #dd765d;
}

.header-inner .header-nav {
    position: absolute;
    width: 100%;
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.header-inner .header-nav .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-inner .header-nav .social a {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0 8px 15px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 26px;
    opacity: .7;
    transition: .3s;
    zoom: 1;
}

#page-nav {
    margin-top: 30px;
    text-align: center;
}

#page-nav .page-number {
    display: inline-block;
    margin: 0 5px 30px;
    width: 20px;
    height: 25px;
    border-radius: 2px;
    background: #4d4d4d;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
}

#page-nav .page-number:hover {
    background: #5e5e5e;
}

#page-nav .current {
    background: #88acdb;
    cursor: default;
}

#page-nav .current:hover {
    background: #88acdb;
}

/* 添加上下页标签转为行内块 */
#page-nav .extend {
    display: inline-block;
    margin: 0 27px;
    color: #4d4d4d;
    opacity: 1;
}

#page-nav .extend:hover {
    color: #5e5e5e;
}

#page-nav:hover .extend {
    opacity: 1;
}

.archives-wrap {
    position: relative;
    margin: 0 30px;
    padding-right: 60px;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.archives-wrap:first-child {
    margin-top: 30px;
}

.archives-wrap:last-child {
    margin-bottom: 80px;
}

.archives-wrap .archive-year-wrap {
    position: absolute;
    z-index: 1;
    padding-top: 15px;
    width: 200px;
    font-size: 1.8em;
    line-height: 35px;
}

.archives-wrap .archive-year-wrap a {
    padding-left: 48px;
    color: #666;
    font-weight: 700;
}

.archives {
    position: relative;
}

.archives .article-info {
    border: none;
}

.archives .archive-article {
    position: relative;
    margin-left: 200px;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}

.archives .archive-article:first-child {
    border-top: none;
}

.archives .archive-article:last-child {
    border-bottom: none;
}

.archives .archive-article-title {
    color: #333;
    font-size: 16px;
    transition: color .3s;
}

.archives .archive-article-title:hover {
    color: #657b83;
}

.archives .archive-article-title span {
    display: block;
    padding-left: 2px;
    height: 7px;
    color: #a8a8a8;
    font-size: 12px;
    line-height: 14px;
}

.archives .archive-article-title span:before {
    display: inline-block;
    margin: 4px 4px 0 -12px;
    color: #c8c8c8;
    content: "\201C";
    font-size: 30px;
    font-family: serif;
}

.archive-article-inner .icon-clock {
    margin-right: 5px;
}

.archive-article-inner .archive-article-header {
    position: relative;
    min-height: 36px;
}

.archive-article-inner .article-meta {
    position: relative;
    float: right;
    margin-top: -10px;
    width: auto;
    background: none;
    color: #555;
    text-align: right;
}

.archive-article-inner .article-meta .article-date time {
    color: #aaa;
}

.archive-article-inner .article-meta .archive-article-date,
.archive-article-inner .article-meta .article-tag-list {
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 30px;
    color: #666;
    vertical-align: middle;
    font-size: 14px;
    zoom: 1;
}

.archive-article-inner .article-meta .archive-article-date {
    margin-top: -10px;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 12px;
    cursor: default;
}

.archive-article-inner .article-meta .article-category:before {
    left: 15px;
    float: left;
    margin-top: 1px;
}

.archive-article-inner .article-meta .article-category .article-category-link {
    padding-left: 10px;
    width: auto;
    max-width: 83px;
}

.archive-article-inner .article-meta .article-tag-list {
    margin-top: 0;
}

.archive-article-inner .article-meta .article-tag-list:before {
    left: 15px;
}

.archive-article-inner .article-meta .article-tag-list .article-tag-list-item {
    display: inline-block;
    padding-left: 8px;
    width: auto;
    max-width: 83px;
    font-size: 12px;
}

.tools-col {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 0;
    width: 300px;
    height: 100%;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
}

/* 添加width: 360px */
.tools-col.show {
    width: 360px;
    opacity: 1;
}

.tools-col.hide {
    z-index: 0;
}

.tools-col .tools-nav {
    display: none;
}

.tools-col .tools-section,
.tools-col .tools-wrap {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    color: #e5e5e5;
    scrollbar-width: none;
}

.tools-col .tools-section ::-webkit-scrollbar,
.tools-col .tools-wrap ::-webkit-scrollbar {
    display: none;
}

.tools-col .tools-section .search-wrap {
    position: relative;
    margin: 20px 20px 10px;
    width: 310px;
}

.tools-col .tools-section .search-wrap .search-ipt {
    width: 310px;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    color: #fff;
    font-family: Roboto, serif;
}

.tools-col .tools-section .search-wrap .icon {
    position: absolute;
    top: 7px;
    right: 0;
    color: #fff;
    cursor: pointer;
}

.tools-col .tools-section .search-wrap .icon:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.tools-col .tools-section .search-wrap input::-webkit-input-placeholder {
    color: #ededed;
}

.tools-col .tools-section .search-tag.tagcloud {
    position: relative;
    text-align: center;
}

.tools-col .tools-section .search-tag.tagcloud .search-tag-wording {
    float: right;
    margin: 4px 75px 0 0;
    font-size: 12px;
}

.tools-col .tools-section .search-tag.tagcloud .search-switch {
    display: block;
    width: 40px;
    height: 25px;
}

.tools-col .tools-section .search-tag.tagcloud .search-switch input {
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 2;
    width: 40px;
    height: 14px;
    outline: 0;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
}

.tools-col .tools-section .search-tag.tagcloud .search-switch input:before {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 40px;
    height: 14px;
    border: 1px solid #bdcabc;
    border-radius: 20px;
    background-color: #fdfdfd;
    background-clip: content-box;
    box-shadow: inset 0 0 0 0 #dfdfdf;
    content: "";
    vertical-align: middle;
    cursor: pointer;
    transition: border .4s, box-shadow .4s;
}

.tools-col .tools-section .search-tag.tagcloud .search-switch input:checked:before {
    border-color: #64bd63;
    background-color: #64bd63;
    box-shadow: inset 0 0 0 .16rem #64bd63;
    transition: border .4s, box-shadow .4s, background-color 1.2s;
}

.tools-col .tools-section .search-tag.tagcloud .search-switch input:checked:after {
    left: 27px;
    background: #fff;
}

.tools-col .tools-section .search-tag.tagcloud .search-switch input:after {
    position: absolute;
    top: 16px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #91c0f1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    content: "";
    cursor: pointer;
    transition: left .2s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tools-col .tools-section .search-tag.tagcloud .article-tag-list {
    display: none;
    margin: 15px 10px 0;
    padding: 10px;
    background: hsla(0, 0%, 100%, .2);
}

.tools-col .tools-section .search-tag.tagcloud .article-tag-list.show {
    display: block;
}

.tools-col .tools-section .search-tag.tagcloud .a {
    float: none;
}

.tools-col .tools-section .search-ul {
    overflow-y: auto;
    margin-top: 10px;
    color: rgba(77, 77, 77, .75);
    -webkit-overflow-scrolling: touch;
}

.tools-col .tools-section .search-ul .search-li {
    padding: 10px 20px;
    border-bottom: 1px dotted #dcdcdc;
}

.tools-col .tools-section .search-ul .search-li:hover {
    background: hsla(0, 0%, 100%, .2);
}

.tools-col .tools-section .search-ul .search-title {
    display: block;
    overflow: hidden;
    color: #fffff8;
    text-overflow: ellipsis;
    text-shadow: 1px 1px rgba(77, 77, 77, .25);
    white-space: nowrap;
}

.tools-col .tools-section .search-ul .search-title .icon {
    margin-right: 10px;
    color: #fffdd8;
}

.tools-col .tools-section .search-ul .search-title:hover {
    color: #fff;
}

.tools-col .tools-section .search-ul .search-tag,
.tools-col .tools-section .search-ul .search-time {
    margin-right: 10px;
    color: #fffdd8;
    font-size: 12px;
}

.tools-col .tools-section .search-ul .search-tag .icon,
.tools-col .tools-section .search-ul .search-time .icon {
    margin-right: 0;
}

.tools-col .tools-section .search-ul .search-tag span,
.tools-col .tools-section .search-ul .search-time span {
    cursor: pointer;
}

.tools-col .tools-section .search-ul .search-tag span:hover,
.tools-col .tools-section .search-ul .search-time span:hover {
    color: #fff;
}

.tools-col .tools-section .search-ul .search-time {
    float: left;
}

.tools-col .tools-section .search-ul .search-tag span {
    margin-right: 5px;
}

.tools-col .tools-section-friends {
    padding-top: 30px;
}

.tools-col .aboutme-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    color: #fffdd8;
    text-shadow: 1px 1px rgba(77, 77, 77, .45);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.body-wrap>article {
    position: relative;
}

.article {
    position: relative;
    margin: 30px;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    transition: all .2s ease-in;
}

/* 文章img标签优化 */
.article p img {
    margin: 10px 0;
    max-width: 100%;
}

.article-inner h1.article-title,
.article-title {
    margin-left: 0;
    color: #696969;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    transition: color .3s;
}

/* 修改adding-left: 7.6923%=>6.8709%*/
.article-header {
    padding: 30px 0 15px 6.8709%;
    border-left: 5px solid #4d4d4d;
}

.article-meta {
    position: absolute;
    top: 23px;
    right: 0;
    z-index: 1;
    width: 150px;
    text-align: right;
    text-align: center;
    font-size: 14;
}

.article-meta time {
    color: #aaa;
}

.article-meta time .icon-clock {
    margin-right: 8px;
    font-size: 16px;
}

.article-more-link {
    float: right;
    margin-top: 0;
    text-align: left;
}

.article-more-link a {
    padding: 5px 8px;
    border-radius: 2px;
    background: #4d4d4d;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    transition: background .3s;
}

.article-more-link a:hover {
    background: #3c3c3c;
}

.article-more-link a.hidden {
    visibility: hidden;
}

.article-info.info-on-right {
    float: right;
    margin: 10px 0 0;
}

.article-info-index.article-info {
    margin: 30px 7.6923% 0;
    padding-top: 20px;
    min-height: 72px;
    border-top: 1px solid #ddd;
}

.article-info-post.article-info {
    margin: -30px 0 20px 7.6923%;
    padding: 0;
    border: none;
}

/* bottom外边距优化 */
.article-inner p {
    margin: 0 0 10px;
}

.article-inner {
    border-color: #d1d1d1;
}

.article-inner h1 {
    font-size: 28px;
}

.article-inner h2 {
    font-size: 26px;
}

.article-inner h3 {
    font-size: 24px;
}

.article-inner h4 {
    font-size: 22px;
}

.article-inner h5 {
    font-size: 20px;
}

.article-inner h6 {
    font-size: 18px;
}

.article-inner h1,
.article-inner h2,
.article-inner h3,
.article-inner h4,
.article-inner h5,
.article-inner h6 {
    font-weight: 900;
    line-height: 1.25;
}

.article-inner h1:first-child,
.article-inner h2:first-child,
.article-inner h3:first-child,
.article-inner h4:first-child,
.article-inner h5:first-child,
.article-inner h6:first-child {
    margin-top: 0;
}

/* 删除margin-bottom: 10px */
.article-inner h1:first-child {
    display: inline;
}

.article-entry {
    padding-right: 7.6923%;
    padding-left: 7.6923%;
}

.article-entry p {
    margin-top: 10px;
}

.article-entry blockquote {
    margin-top: 10px;
    padding: 15px 20px;
    border-left: 5px solid #ccc;
    border-left: 5px solid #657b83;
    background: #ddd;
    background: #f6f6f6;
}

.article-entry blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

.article-entry em {
    font-style: italic;
}

/* 无序标签第一层样式 */
.article-entry ul>li:before {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border: 1px solid #999;
    border-radius: 10px;
    background: #aaa;
    content: "";
}

/* 无序标签第二层 */
.article-entry li>ul>li:before {
    background: #dedede;
    content: "";
}

/* 无序标签三层及之后 */
.article-entry li>ul>li>ul>li:before,
.article-entry li>ol>li>ul>li:before {
    background: #f9f9f9;
    content: "";
}

/* 有序标签样式 */
.article-entry ol {
    padding-left: 20px;
    list-style-type: decimal;
}

/* 删除font-size: 14px; */
.article-entry ol,
.article-entry ul {
    margin: 10px 0;
}

.article-entry ol li ol,
.article-entry ul li ul {
    margin-top: 0;
    margin-bottom: 0;
}

.article-entry li ol,
.article-entry li ul {
    margin-left: 30px;
}

.article-entry h1 {
    margin-top: 30px;
}

.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #574c4c;
    font-weight: 700;
}

.article-entry video {
    max-width: 100%;
}

.article-entry strong {
    font-weight: 700;
}

.article-entry .caption {
    display: block;
    color: #aaa;
    font-size: .8em;
}

.article-entry hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0;
    border-top: 1px solid #ddd;
    border-right: 0;
    border-bottom: 1px solid #fff;
    border-left: 0;
}

/* 添加允许在长单词或URL地址内部进行换行 */
.article-entry table {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #dedede;
    border-collapse: collapse;
    word-break: break-word;
}

.article-entry table td,
.article-entry table tr {
    height: 35px;
}

.article-entry table thead tr {
    background: #f8f8f8;
}

.article-entry table tbody tr:hover {
    background: #efefef;
}

.article-entry table td,
.article-entry table th {
    padding: 0 10px;
    border: 1px solid #dedede;
}

.article-entry figure table {
    margin: 0;
    width: auto;
    border: none;
}

.article-entry figure table tbody tr:hover {
    background: none;
}

/* 版权声明 */
.article-entry .reprint {
    margin: 15px 0 0.4rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 14px;
    transition: box-shadow 0.3s ease-in-out;
}

.article-entry .reprint:hover {
    box-shadow: 0 0 10px 0 rgba(232, 237, 250, .6), 0 4px 8px 0 rgba(232, 237, 250, .5);
}

#article-nav {
    margin: 0 0 20px;
    padding: 0 32px 10px;
    min-height: 30px;
}

#article-nav .article-nav-link-wrap {
    font-size: 14px;
}

#article-nav .article-nav-link-wrap .article-nav-title {
    display: inline-block;
    font-size: 16px;
    transition: color .3s;
}

#article-nav .article-nav-link-wrap:hover .article-nav-title,
#article-nav .article-nav-link-wrap:hover i {
    color: #4d4d4d;
}

#article-nav #article-nav-older {
    float: right;
}

/* 评论 */
#article-comments {
    margin: 0 30px;
}

#disqus_thread,
#gitment-ctn,
#SOHUCS,
#gitalk-container {
    min-height: 20px;
}

#SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw {
    border-bottom: 1px dashed #c8c8c8 !important;
}

.share-wrap {
    min-height: 20px;
}

.share-btn {
    position: relative;
    float: right;
}

.share-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.share-icons a {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 10px;
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-shadow: 1px 1px 1px #509eb7;
    line-height: 28px;
    opacity: .7;
    transition: .3s;
    zoom: 1;
}

.share-icons a:active {
    color: #fff;
}

.share-icons a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.share-icons a.share-outer {
    border: none;
    background: #4d4d4d;
    color: #fff;
    text-shadow: none;
}

/* 删除z-index: 1001; */
.page-modal {
    position: fixed;
    top: 24%;
    left: 50%;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    color: #727272;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
}

.page-modal p {
    margin-bottom: 10px;
}

.page-modal.ready {
    display: block;
    visibility: hidden;
    transition: .3s;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

/* 添加z-index: 1001; */
.page-modal.in {
    z-index: 1001;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.page-modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: rgba(0, 0, 0, .2);
    font-size: 16px;
    line-height: 20px;
}

.page-modal .close:active,
.page-modal .close:hover {
    color: rgba(0, 0, 0, .4);
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: .3s ease-in-out;
    filter: alpha(opacity=0);
    pointer-events: none;
}

.mask.in {
    visibility: visible;
    opacity: .3;
    pointer-events: auto;
}

.page-reward {
    margin: 60px 0;
    text-align: center;
}

.page-reward .page-reward-btn {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #f44336;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    color: #fff;
    font-size: 20px;
    line-height: 56px;
    transition: .4s ease-in-out;
}

.page-reward .page-reward-btn:active,
.page-reward .page-reward-btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .2), 0 4px 15px rgba(0, 0, 0, .2);
}

.page-reward .page-reward-btn .tooltip-item {
    display: block;
    width: 56px;
    height: 56px;
}

.page-reward .reward-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.page-reward .reward-p {
    color: #fff;
    text-shadow: 1px 1px 1px #45b9e0;
    font-weight: 700;
}

.page-reward .reward-p .icon {
    margin: 0 10px;
    color: #ddd;
}

.page-reward .reward-type {
    display: block;
    margin: 20px 0 0;
    color: #4d4d4d;
    font-size: 16px;
}

.page-reward .reward-img {
    width: 130px;
    height: 130px;
    border: 6px solid #fff;
    border-radius: 3px;
}

/* 修改aside标签（返回顶部按钮）位置 */
.wrap-side-operation {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    font-size: 14px;
}

.mod-side-operation {
    width: 40px;
    text-align: center;
}

.jump-container:hover,
.toc-container:hover {
    background: rgba(36, 193, 246, .9);
}

.jump-container,
.toc-container {
    position: relative;
    width: 40px;
    height: 40px;
    background: #ccc;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.jump-container .icon-back {
    display: block;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.toc-container.tooltip-left {
    margin-top: 10px;
}

.toc-container.tooltip-left .icon-font {
    color: #fff;
    font-size: 22px;
    line-height: 40px;
}

.toc-container.tooltip-left .tooltip {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

/* 目录样式 */
.toc-container.tooltip-left .tooltip-east .tooltip-content {
    right: 4.7em;
    bottom: -10px;
    padding: 5px 20px;
    width: auto;
    min-width: 200px;
    min-height: 100px;
    text-align: left;
    text-shadow: 1px 1px 1px #398199;
    font-size: 14px;
    -webkit-transform: translate3d(0, -10px, 0) rotate3d(1, 1, 1, -30deg);
    transform: translate3d(0, -10px, 0) rotate3d(1, 1, 1, -30deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.toc-container.tooltip-left .tooltip-east .tooltip-content a {
    color: #fff;
}

/* 动态目录 */
.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-item.active .toc-child {
    display: block;
}

.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-item .toc-child {
    display: none;
}

.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-link.active {
    color: red;
    font-weight: bold;
}

/* 添加z-index: -1; */
.toc-container.tooltip-left .tooltip-east .tooltip-content:after {
    top: auto;
    bottom: 23px;
    z-index: -1;
}

.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

/* 目录滚掉条宽度 */
.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article::-webkit-scrollbar {
    width: 10px;
}

/* 目录滚掉条滑块 */
.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

/* 目录滚掉条滑块悬停 */
.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .5);
}

/* 目录滚掉条轨道悬停 */
.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .15);
}

.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article li ol,
.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article li ul {
    margin-left: 30px;
}

.toc-container.tooltip-left .tooltip-east .tooltip-content .toc-article li {
    white-space: nowrap;
}

.toc-container.tooltip-left .tooltip:hover .tooltip-content {
    bottom: -10px;
    -webkit-transform: translate(0);
    transform: translate(0);
}

/* 修改z-index为1，移动端分享适配*/
.tooltip-left .tooltip {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 1;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.tooltip-left .tooltip:hover a.share-outer {
    background: #24c1f6;
}

.tooltip-left .tooltip-content {
    position: absolute;
    bottom: 50%;
    z-index: 9999;
    margin-bottom: -10px;
    width: 200px;
    border-radius: 20px;
    background: rgba(36, 193, 246, .9);
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    opacity: 0;
    cursor: default;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}

.tooltip-left .tooltip-west .tooltip-content {
    left: 3.5em;
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(1, 1, 1, 30deg);
    transform: translate3d(0, 50%, 0) rotate3d(1, 1, 1, 30deg);
    -webkit-transform-origin: -2em 50%;
    transform-origin: -2em 50%;
}

.tooltip-left .tooltip-east .tooltip-content {
    right: 3.5em;
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(1, 1, 1, -30deg);
    transform: translate3d(0, 50%, 0) rotate3d(1, 1, 1, -30deg);
    -webkit-transform-origin: calc(100% + 2em) 50%;
    transform-origin: calc(100% + 2em) 50%;
}

.tooltip-left .tooltip:hover .tooltip-content {
    opacity: 1;
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 0, 0);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 0, 0);
    pointer-events: auto;
}

.tooltip-left .tooltip-content:after,
.tooltip-left .tooltip-content:before {
    position: absolute;
    content: "";
}

.tooltip-left .tooltip-content:before {
    width: 3em;
    height: 100%;
}

.tooltip-left .tooltip-content:after {
    top: 50%;
    margin: -1em 0 0;
    width: 2em;
    height: 2em;
    background: url(../fonts/tooltip.svg) no-repeat 50%;
    background-size: 100%;
}

.tooltip-left .tooltip-west .tooltip-content:after,
.tooltip-left .tooltip-west .tooltip-content:before {
    right: 99%;
}

.tooltip-left .tooltip-east .tooltip-content:after,
.tooltip-left .tooltip-east .tooltip-content:before {
    left: 99%;
}

.tooltip-left .tooltip-east .tooltip-content:after {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.tooltip-top .tooltip {
    position: relative;
    z-index: 999;
    display: inline;
}

.tooltip-top .tooltip:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 100%;
    height: 20px;
    content: "";
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.tooltip-top .tooltip:hover:after {
    pointer-events: auto;
}

/* 打赏样式 */
.tooltip-top .tooltip-content {
    position: absolute;
    bottom: 100%;
    z-index: 9999;
    margin: 0 0 -10px -185px;
    padding-bottom: 80px;
    width: 370px;
    background: transparent;
    color: #4d4d4d;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: Satisfy, cursive;
    line-height: 1.4;
    opacity: 0;
    cursor: default;
    transition: opacity .3s .3s;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
}

.tooltip-top .tooltip:hover .tooltip-content {
    opacity: 1;
    transition-delay: 0s;
    pointer-events: auto;
}

.tooltip-top .tooltip-content span {
    display: block;
}

.tooltip-top .tooltip-text {
    overflow: hidden;
    border-bottom: 10px solid #4d4d4d;
    transition: -webkit-transform .3s .3s;
    transition: transform .3s .3s;
    transition: transform .3s .3s, -webkit-transform .3s .3s;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.tooltip-top .tooltip:hover .tooltip-text {
    transition-delay: 0s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.tooltip-top .tooltip-inner {
    padding: 40px;
    background: rgba(36, 193, 246, .9);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.tooltip-top .tooltip:hover .tooltip-inner {
    transition-delay: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.tooltip-top .tooltip-content:after {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-color: transparent;
    border-width: 10px;
    content: "";
    pointer-events: none;
    border-top-color: #4d4d4d;
}

#footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px #fff;
    font-size: 12px;
    font-family: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace;
    opacity: .6;
}

#footer .outer {
    padding: 0 30px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}