<!-- 引入jquery -->
<script src="<%- theme.js.jquery %>"></script>
<% if (theme.local_search && theme.local_search.enable){ %>
<div id="js-searchModal">
    <div style="padding: 24px;">
        <div class="search-header">
            <span><i class="icon-search icon"></i><%if(config.language === 'zh-CN'){%>&nbsp;&nbsp;搜索<%}else{%>&nbsp;&nbsp;search<%}%></span>
            <input class="search-ipt" type="text" placeholder=<%if(config.language === 'zh-CN'){%>"请输入搜索的关键字"<%}else{%>"please enter the keywords for your search"<%}%> id="js-searchInput">
            <i class="icon-close icon" id="js-searchTextCancel"></i>
        </div>
        <div id="js-searchResult"></div>
    </div>
</div>
<!--搜索背景层-->
<div id="js-modal-overlay"></div>
<script type="text/javascript">
    window.onload=function(){
        var open = $('#js-icon-search').get(0);
        <%if(config.language === 'zh-CN'){%>open.setAttribute("title","搜索")<%}else{%>open.setAttribute("title","search")<%}%>
    }
</script>
<script src="<%- theme.js.search %>"></script>
<% } %>