<% if (theme.local_search && theme.local_search.enable){ %>
<div id="js-searchModal">
    <div style="padding: 24px;">
        <div class="search-header">
            <span><i class="icon-search icon"></i>&nbsp;&nbsp;<%- _p('search') %></span>
            <input class="search-ipt" type="text" placeholder="<%- _p('keywords_placeholder') %>" id="js-searchInput">
            <i class="icon-close icon" id="js-searchTextCancel"></i>
        </div>
        <div id="js-searchResult"></div>
    </div>
    <script type="text/javascript">
        window.onload=function(){
            var open = $('#js-icon-search').get(0);
            open.setAttribute("title","<%- _p('search') %>")
        }
    </script>
    <script src="<%- theme.js.search %>"></script>
</div>
<div id="js-modal-overlay"></div>
<% } %>