<div class="toc-container tooltip-left">
    <i class="icon-font icon-category"></i>
    <div class="tooltip tooltip-east">
        <span class="tooltip-item">
        </span>
        <span class="tooltip-content">
            <div class="toc-article">
            <%- toc(post.content) || theme.toc_empty_wording %>
            </div>
        </span>
    </div>
</div>